Source: encrypt-package
Maintainer: Saurav Saini <sainisaurav019@gmail.com>
Section: misc
Priority: optional
Standards-Version: 4.5.1
Build-Depends: debhelper (>> 10)

Package: encrypt-package
Architecture: all
Depends: bash
Description: Encrypt and decrypt files with AES-256
